// Colors
$yellow: #ffee00;
$white: #ffffff;
$grey: #adadad;
$black: #000000;
$orange: #fcb500;
$grey: #adadad;

$yellow-accent: #fcda28;
$black-accent: #161616;

// Viewports
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 1280px;
$desktop-extra-width: 1366px;
